

body{
    background-color: hsl(47, 88%, 63%);
}

.card{
    font-family: "Figtree", sans-serif;
    width: 18rem;
    border-radius: 10px;
    border: solid 1px;
    font-size: 0.75rem;
    box-shadow: 0.5rem 0.5rem black;
    transition: box-shadow 0.6s ease;

}

.card:hover{
    box-shadow: 1rem 1rem black;

}

.card-body{
    padding-left: 0px;
    padding-bottom: 0px;

}



.badge{
    background-color: hsl(47, 88%, 63%);
    color: black;
    border-radius: 5px;
    padding: 6px 12px;
    margin-bottom: 0.75rem;
    font-weight: 800;
}


.card-subtitle{
    font-weight: 600;
    color: hsl(0, 0%, 7%);
}

.card-title{
    font-weight: 800;
    font-size: 1.1rem;
    transition: color 0.6s ease;
}

.card-text{
    font-size: 0.75rem;
    font-weight: 600;
    color: hsl(0, 0%, 42%);
}

.avatar{
    width: 1.5rem;
    height: fit-content;
    margin-right: 0.75rem;
}

.avatar + p {
    margin-top: 3px;
    margin-bottom: auto;
    font-weight: 800;
}

